@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$primary: $gray-900;
$secondary: $gray-200;
$success: $green;
$info: $cyan-600;
$warning: $yellow-500;
$danger: $red;
$light: $white;
$dark: $black;
$primary-button: $blue;
$in-progress: $cyan-100;

// Scores and game status
$score-card-bg: $gray-100;
$in-progress: $green;
$power-play: $red;
$final: $gray-600;
$scheduled: $gray-400;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "primary-button": $primary-button,
  "score-card-bg": $score-card-bg,
);

.navbar {
    height: 80px;
    border-bottom: 20px solid $primary;
}

.losing-team {
  color: $gray-500;
}

.power-play {
  font-weight: normal;
  font-style: italic;
  color: $power-play;
}

.state-scheduled {
  border-right: 4px solid $scheduled;
}

.state-inprogress {
  border-right: 4px solid $in-progress;
}

.state-final {
  border-right: 4px solid $final;
}

.state-powerplay {
  border-right: 4px solid $power-play;
}

.score-card-container {
  width: 400px !important;
}

@import "../node_modules/bootstrap/scss/bootstrap";
